*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url(/wallpapers-20220821T224747Z-001/couple-silhouette-traffic-lights-night-romantic-focus-3840x2160-138.jpg);
  background-position: center;
  background-size: cover;
}

.glass{
  padding: 30px;
  width: 30%;
  /* height: 70vh; */
  border-radius: 20px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 19px 0 rgba(255, 255, 255, 0.1);
}

h1{
  color: wheat;
  text-align: center;
  padding-bottom: 30px;
}
form{
  align-items: center;
}

form label{
  font-size: 18px;
  color: whitesmoke;
  padding-bottom: 20px;
}

form input{
  width: 100%;
  padding: 8px 0;
  margin: 6px 0;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.50);
  box-shadow: 0 4px 19px 0 rgba(255, 255, 255, 0.1);
  color: black;
}

::placeholder{
  padding-left: 50px;
}

form input:hover{
  border: none;
  /* border-radius: 3px; */
  background-color:rgba(255, 255, 255, 0.20);
  border: 1px solid rgba(255, 255, 255, 0.20);
  box-shadow: 0 8px 19px 0 rgba(255, 255, 255, 0.1);
}

.btn{
  padding-top: 14px;
  display: flex;
  justify-content: center;
}

button{
  padding: 8px;
  width: 100%;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-radius: 3px;
  background-color: aliceblue;
}
button:hover{
  padding: 8px;
  width: 100%;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-radius: 3px;
  background-color: rgb(223, 237, 249);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(/wallpapers-20220821T224747Z-001/couple-silhouette-traffic-lights-night-romantic-focus-3840x2160-138.jpg);
    background-position: center;
    background-size: cover;
    padding: 30px;
  }
  
  .glass{
    padding: 30px;
    width: 100%;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 19px 0 rgba(255, 255, 255, 0.1);
  }
  
  h1{
    color: wheat;
    text-align: center;
    padding-bottom: 30px;
  }
  form{
    align-items: center;
  }
  
  form label{
    font-size: 18px;
    color: whitesmoke;
    padding-bottom: 20px;
  }
  
  form input{
    width: 100%;
    padding: 8px 0;
    margin: 6px 0;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.50);
    box-shadow: 0 4px 19px 0 rgba(255, 255, 255, 0.1);
    color: black;
  }

}